<h4>{{title}}</h4>
<div class="row">
  <form materialize [formGroup]="form" novalidate class="col s12">
      <div class="row">
          <div class="input-field col s6">
            <div class="select-wrapper">
              <select formControlName="title" materialize="material_select" [materializeSelectOptions]="titles">
                <option [value]="" disabled selected>Choose a title</option>
                <option *ngFor="let title of titles" [value]="title">{{title}}</option>
              </select>
            </div>
            <label for="title">Title</label>
          </div>
        </div>
      <div class="row">
      <div class="input-field col s6">
        <input id="givenName" type="text" formControlName="givenName" />
        <label for="givenName">Given Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <div class="select-wrapper">
            <input id="familyName" type="text" formControlName="familyName" />
            <label for="familyName">Family Name</label>
         </div>
      </div>
    </div>
  </form>
</div>
<div>
  <button (click)="save()" class="ep-btn-submit">Save</button>
</div>
  