<h4>{{title}}</h4>
<div class="row">
  <form materialize [formGroup]="form" novalidate class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input id="name" type="text" formControlName="name" />
        <label for="name">Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="location" type="text" formControlName="location" />
        <label for="location">Location</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="nickname" type="text" formControlName="nickname" />
        <label for="nickname">Nickname</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="capacity" type="number" formControlName="capacity" />
        <label for="capacity">Capacity</label>
      </div>
    </div>
  </form>
</div>
<div>
  <button (click)="save()" class="ep-btn-submit">Save</button>
</div>
  