<div class="row">
  <a class='dropdown-button btn' href='#' data-activates='term-dropdown'>School Term: </a>
  
    <!-- Dropdown Structure -->
    <ul id='term-dropdown' class='dropdown-content'>
      <li *ngFor="let term of terms" (click)="editTerm(term)">{{term.name}}></li>
      <li class="divider"></li>
      <li><a class="waves-effect waves-light" (click)="addTerm()">Add term...</a></li>        
    </ul>
</div>

<!-- Modal Structure -->
<div id="editTerm" class="modal">
  <div class="modal-content">
    <h4>Add Term</h4>
    <div class="row">
      <form [formGroup]="termForm" novalidate class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input id="name" type="text" formControlName="name" />
            <label for="name">Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="start" type="text" class="datepicker" formControlName="start" />
            <label for="start">Date term starts</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="open" type="text" class="datepicker" formControlName="open">
            <label for="open">Date registration opens</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="close" type="text" class="datepicker" formControlName="close">
            <label for="close">Date registration closes</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="end" type="text" class="datepicker" formControlName="end" />
            <label for="end">Date term ends</label>
          </div>
        </div>
      </form>
    </div>
    <div>
        <button (click)="cancel()" class="ep-btn-cancel">Cancel</button>
        <button (click)="saveTerm()" class="ep-btn-submit">Save</button>
    </div>
  </div>
</div>